<div class="container">
    <header class="row">
        <div id="nome" class="bg-light justify-content-right opacity-75">
            <h2>
                El Guapo
            </h2>
        </div>

        <div id="menu" class="bg-light justify-content-right fs-5 opacity-75 py-auto">
            <nav>
                <ul class="nav">
                    <li class="nav-item mx-3">
                        <a href="">Serviços</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a href="">Atendimento</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a href="">Agendamento</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="row py-5 opacity-75 bg-light">

        <div id="atendimento" class=" d-flex flex-column justify-content-center fs-4 ">
            <h4>O melhor corte de cabelo da região</h4>
            <h3>Atendimento</h3>
            <h4> segunda a sexta | das 9h às 19h</h4>
            <h4>sábado | das 9h às 18h</h4>
        </div>

        <div id="servico" class=" justify-content-center fs-4 ">
            <form>
                <h4>Escolha o serviço</h4>
                <input type="checkbox" name="corte" value="corte">corte masculino<br>
                <input type="checkbox" name="navalha" value="navalha">barba na navalha<br>
                <input type="checkbox" name="style" value="style">el bigodon style<br>
                <input type="checkbox" name="combo" value="total">combo corte + el bigodon style<br>
                <br>
                <h4>Preencha seus dados</h4>
                nome: <input type="text" nome="nome"><br>
                sobrenome: <input type="text" sobrenome="sobrenome"><br>
                telefone: <input type="text" telefone="telefone"><br>
                <input type="submit" name="enviar" value="Enviar">
                <br>
            </form>
        </div>
    </div>
</div>